.add-city-input {
  width: 50%;
}
.add-city-cont {
  margin-top: 20px;
  text-align: center;
}
.city {
  font-size: 1.8rem;
}
@media only screen and (max-width: 500px) {
  .add-city-input {
    width: 80%;
  }
}
