.my-table {
  border-collapse: collapse;
  width: 100%;
  background: rgba(255, 255, 255, 0.836);
  margin-top: 20px;
}
td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
.error {
  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
