* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
body {
  background: rgb(214, 230, 127);
  height: 100vh;
  font-family: "Libre Baskerville", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
button {
  padding: 18px 40px;
  margin-left: 10px;
  border-radius: 20px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
}
.container {
  padding: 30px;
}

input {
  width: 75%;
  padding: 15px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  text-align: center;
}

.search-cont {
  text-align: center;
  margin-bottom: 20px;
}
.weather-cont {
  margin-top: 30px;
}
.location {
  color: #fff;
  font-size: 32px;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.date {
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.temp {
  display: inline-block;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 45px 25px;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 3px 5px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
}

.weather {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  margin-top: 30px;
  text-shadow: 3px 5px rgba(50, 50, 70, 0.5);
}
@media only screen and (max-width: 500px) {
  button {
    padding: 14px 40px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .temp {
    font-size: 80px;
  }
  input {
    width: 95%;
  }
}
