* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
body {
  background: lightsteelblue;
  height: 100vh;
  font-family: "Twinkle Star", sans-serif;
}
button {
  padding: 5px 10px;
}
